<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/signup.css">
</head>
<body>
    <nav>
    </nav>
    <h1 class="signup-title">Sign Up</h1>
    <form id="signup-form" class="signup-form" method="POST">
        <input type="text" name="username" id="username" placeholder="Username" required>
        <input type="email" name="email" id="email" placeholder="Email" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <button type="submit" class="signup-button">Sign Up</button>
    </form>
    <% if (errorMessage) { %>
        <div class="message error-message"><%= errorMessage %></div>
    <% } else if (successMessage) { %>
        <div class="message success-message"><%= successMessage %></div>
    <% } %>
    <p class="login-link">Already have an account? <a href="/login">Log in here</a></p>
    <footer>
        &copy; 2023 Recipe Search Engine
    </footer>
    <script>
        document.getElementById('signup-form').addEventListener('submit', async function(event) {
          event.preventDefault(); // Prevent default form submission
          const formData = {
            username: document.getElementById('username').value,
            email: document.getElementById('email').value,
            password: document.getElementById('password').value
          };
    
          try {
            const response = await fetch('http://localhost:8080/api/signup', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json' // Set content type to JSON
              },
              body: JSON.stringify(formData)
            });
    
            if (response.ok) {
              const responseData = await response.text();
              const successDiv = document.createElement('div');

              successDiv.classList.add('message', 'success-message');
              successDiv.textContent = 'User signed up successfully. Redirecting to login page...';

              document.body.appendChild(successDiv);

              setTimeout(() => {
                window.location.href = '/login';
              }, 2000);
              // Handle successful signup (e.g., display success message)
              console.log(responseData);
            } else {
    const responseData = await response.text();
    document.querySelector('.error-message').innerHTML = responseData;
    console.error(responseData);
}
          } catch (error) {
            console.error('Error during signup:', error);
            // Handle other errors (e.g., network error)
          }
        });
    </script>
</body>
</html>
